pov-video-workflow.json
{
  "name": "POV Image to Video",
  "nodes": [
    {
      "parameters": {},
      "id": 1,
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "prompt": "Generate a list of 5 first-person POV short scene descriptions for a <topic> video that will be converted to a vertical video."
      },
      "id": 2,
      "name": "Generate Prompt",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"prompt\":\"={{$json[\"choices\"][0][\"text\"]}}\",\"n\":5,\"size\":\"1024x1792\"}",
        "headerParametersJson": "{\"Authorization\":\"Bearer <YOUR_OPENAI_KEY>\",\"Content-Type\":\"application/json\"}"
      },
      "id": 3,
      "name": "Generate Images",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "command": "ffmpeg -framerate 1 -pattern_type glob -i '*.png' -vf \"scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2\" output.mp4"
      },
      "id": 4,
      "name": "Create Video",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "filePath": "/data/output.mp4"
      },
      "id": 5,
      "name": "Export Video",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [ [ { "node": "Generate Prompt", "type": "main", "index": 0 } ] ]
    },
    "Generate Prompt": {
      "main": [ [ { "node": "Generate Images", "type": "main", "index": 0 } ] ]
    },
    "Generate Images": {
      "main": [ [ { "node": "Create Video", "type": "main", "index": 0 } ] ]
    },
    "Create Video": {
      "main": [ [ { "node": "Export Video", "type": "main", "index": 0 } ] ]
    }
  }
}
